fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-openai
langchain-community
langchain-groq
langchain-huggingface
chromadb==1.5.9
rank-bm25
redis
python-dotenv
pydantic
httpx
pdfplumber
sentence-transformers
python-multipart
langfuse
